ion-toolbar {
  --background: #572364;
  padding: 10px;

  ion-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    h1 {
      margin: 0;
      color: white;
      text-align: center;
      flex: 1;
    }

    .user-info {
      display: flex;
      align-items: center;
      gap: 10px;

      p {
        margin: 0;
        color: white;
      }
    }
  }

  ion-button {
    margin-left: auto; // Alinear el botón al lado derecho
  }
}
