<app-header></app-header>
<ion-content class="ion-padding" fullscreen>
  <div class="home-container">
    <ion-card class="class-card">
      <ion-card-header>
        <ion-card-title>Clases del día!</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item *ngFor="let class of classes">
            <ion-label>
              <h2>{{ class.name }}</h2>
              <p>ID: {{ class.id }}</p>
              <p>hola</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
      <ion-button [routerLink]="['/student']">Volver</ion-button>
    </ion-card>
  </div>
</ion-content>
<app-footer></app-footer>
