<app-header></app-header>
<ion-content class="ion-padding" fullscreen>
  <div class="home-container">
    <ion-card class="class-card">
      <ion-card-header>
        <ion-card-title>Clases del día!</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-label>
              <h2 class="class-title">MAT101</h2>
              <p>Profesor: Juan Pérez Lopez</p>
              <p>Hora: 10:00 AM</p>
            </ion-label>
            <ion-button slot="end">Registrar Asistencia</ion-button>
          </ion-item>
        </ion-list>
      </ion-card-content>
      <ion-button [routerLink]="['/student']">Volver</ion-button>
    </ion-card>
  </div>
</ion-content>
<app-footer></app-footer>
