<ion-toolbar style="--background: #572364;">
  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col size="auto">
      </ion-col>
      <ion-col>
        <ion-title style="color: white; text-align: left;">
          <h6>Derechos reservados Brian & Ian, 2024.</h6>
        </ion-title>
      </ion-col>
      <ion-col>
        <img src="assets/imgs/registrapp.png" alt="Logo" style="width: 150px; position: absolute; bottom: -10px; right: 0;">
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-toolbar>
